:root {
  /* Light Theme */
  --bg-color: white;
  --table-body-bg: linear-gradient(90.11deg, #ffffff 1.08%, #eef0fa 100%);
  --table-report-body-bg: linear-gradient(
    90.11deg,
    #ffffff 1.08%,
    #eef0fa 100%
  );
  --page-bg-color: white;
  --text-color: black;
  --icon-color: #7e7e7e;
  --link-color: #1b34a0;
  --icon-hover-color: #1c39bb;
  --border-color: rgba(0, 0, 0, 0.07);
  --animation-bg-color1: white;
  --animation-bg-color2: rgba(230, 255, 117, 0.5);
  --table-header-hover-color: #004d59;
  --table-header-color: #9599a0;
  --overview-border-color: #1c39bb;
  --drop-shadow-color: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

[data-theme="dark"] {
  /* Dark Theme */
  --bg-color: #0c0d10;
  --table-body-bg: linear-gradient(90.11deg, #121212 1.08%, #2a2a2a 100%);
  --table-report-body-bg: #151515;
  --page-bg-color: #121526;
  --text-color: white;
  --icon-color: white;
  --link-color: #3352db;
  --icon-hover-color: #4e90ff;
  --border-color: rgba(255, 255, 255, 0.07);
  --animation-bg-color1: black;
  --animation-bg-color2: rgba(70, 95, 7, 0.5);
  --table-header-hover-color: #00b5c4;
  --table-header-color: #15191f;
  --overview-border-color: #4e90ff;
  --drop-shadow-color: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
}

#root {
  height: 100%;
}
.ant-layout {
  min-height: 100%;
  min-width: 1920px;
  background-color: var(--bg-page-color) !important;
}

body {
  font-family: monospace !important;
  font-weight: 200;
  background-color: var(--page-bg-color) !important;
  color: var(--text-color);
}

.icons-wrapper svg {
  color: var(--icon-color);
}
.icons-wrapper svg:hover {
  color: var(--icon-hover-color);
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  background-color: var(--table-body-bg);
}

.animateGrow {
  width: max-content;
  background-color: var(--animation-bg-color1);
  animation-name: animateBlockHeight;
  animation-duration: 1s;
}
@keyframes animateBlockHeight {
  0% {
    background-color: var(--animation-bg-color1);
  }
  35% {
    background-color: var(--animation-bg-color2);
  }
  65% {
    background-color: var(--animation-bg-color2);
  }
  100% {
    background-color: var(--animation-bg-color1);
  }
}

.nodeaddress:hover {
  color: var(--icon-hover-color);
}

.tableHeader span {
  position: relative;
}

.tableHeader:hover {
  color: var(--table-header-hover-color);
}

.tableHeader span .sort-icon {
  position: absolute;
  top: 50%;
  right: -5px;
}
.tableHeader span .sort-icon.desc {
  transform: translate(100%, -50%) rotate(0deg);
}
.tableHeader span .sort-icon.asc {
  transform: translate(100%, -50%) rotate(180deg);
}

.overview-list-wrapper {
  border-bottom: 1px solid var(--overview-border-color);
  padding-bottom: 28px;
}
.overview-list {
  column-count: 5;
  background: linear-gradient(
    269.82deg,
    var(--bg-color) -20.26%,
    var(--bg-color) 99.82%
  );
  opacity: 0.8;
  border-radius: 10px;
  padding: 36px 40px 10px;
  filter: var(--drop-shadow-color);
  max-width: 1880px;
  margin: auto;
  margin-top: 30px;
}

.overview-list-report {
  column-count: 4;
  background: linear-gradient(
    269.82deg,
    var(--bg-color) -20.26%,
    var(--bg-color) 99.82%
  );
  opacity: 0.8;
  border-radius: 10px;
  padding: 36px 40px 10px;
  filter: var(--drop-shadow-color);
  max-width: 1880px;
  min-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.overview-item {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  flex: 0 0 calc(20% - 50px);
  margin-bottom: 30px;
}

.overview-item__value {
  padding-left: 22px;
  color: var(--link-color);
}

.overview-item__value-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: var(--text-color);
}

.overview-item__value-value {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.015em;
  color: var(--link-color);
}

iframe {
  display: none;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px 0 16px;
}

.cta-wrapper .cta-link {
  flex: 1;
}

.hidden {
  display: none;
}

.paging-wrapper {
  padding: 25px 0;
  background-color: var(--table-header-color);
}

.page-numbers {
  display: flex;
  justify-content: center;
}
.page-numbers li {
  border: 1.5px solid #9ca3af;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.page-numbers li.paging-item {
  margin-right: 15px;
  line-height: 1;
}

.page-numbers li.paging-item:hover {
  color: #182233;
}

.page-numbers li.active {
  border: 1.5px solid #1c39bb;
  color: #1c39bb;
}

.page-numbers .nav-button {
  border: none;
  cursor: pointer;
}

.nav-button--prev {
  margin-right: 20px;
}
.nav-button--next {
  margin-left: 5px;
}

.nav-button.disabled {
  pointer-events: none;
}

.ant-layout-content {
  background-image: url("./../../assets/images/overview/dashboard_bg.svg"),
    url("./../../assets/images/overview/hex_map_bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 300px) 160px, calc(50% - 20px) calc(960px);
  display: flex;
  flex-direction: column;
  padding: 17px 0 0 0 !important;
  background-color: var(--bg-page-color) !important;
}

.loading {
  position: relative;
  margin: auto auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_icon {
  animation: spin 1s linear infinite;
  width: 203px;
  height: 203px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-footer {
  background-color: var(--bg-page-color);
  height: 110px;
  display: flex;
  align-items: center;
  position: relative;
}

.ant-layout-footer .link {
  margin-right: 12px;
  cursor: pointer;
}

.logo-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--text-color);
}
.logo-wrapper span {
  margin-right: 12px;
}

.data-table-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.data-table-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90.11deg, #ffffff 1.08%, #eef0fa 100%);
  opacity: 0.9;
  z-index: -1;
}
.data-table-wrapper tbody {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: var(--text-color);
  background: var(--table-body-bg);
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  border: none;
  margin: 0;
}

th {
  background-color: var(--table-header-color) !important;
}

tr {
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%);
}

tr:first-child {
  background: none;
  margin-top: 2px;
}

.ant-layout-header {
  min-width: unset !important;
}

.header-left {
  flex: 1;
}
.header-left span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -0.015em;
  padding-top: 10px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.header-right .active-node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.header-right .active-node::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 52, 160, 0.8);
  filter: blur(7.5px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.header-right .active-node:hover::before {
  opacity: 1;
}

.header-right .active-node.active-node--active::before {
  content: "";
  background: #1c39bb;
  filter: none;
  z-index: -1;
  opacity: 1;
}

.no-data {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data__content {
  width: 500px;
  height: 180px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 25%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.015em;
}

.button-filter {
  height: auto;
  padding: 5px;
  background: linear-gradient(90deg, #ffffff 0%, #edeffa 114.85%);
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 10px;
  margin-left: 40px;
}

.search-input .anticon-search svg {
  width: 24px;
  height: 24px;
  fill: #c8cace;
}

.filter-modal .ant-modal,
.filter-modal .ant-modal-title {
  color: #182233;
}

.filter-modal .ant-switch {
  background: #d9dde7;
}
.filter-modal .ant-switch-checked {
  background: #1c39bb;
}
.filter-modal .ant-modal-content {
  width: 600px;
  background: var(--bg-color) !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  padding: 38px;
}
.filter-modal .ant-modal-header {
  border: none;
  background-color: var(--bg-color);
}
.filter-modal .ant-modal-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: var(--text-color);
  background-color: var(--bg-color);
  text-align: center;
}
.filter-modal .ant-modal-body {
  text-align: center;
  padding: 32px 0 42px;
}
.filter-modal .ant-modal-footer {
  border: none;
  text-align: center;
  padding: 0;
}
.filter-modal .ant-modal-footer .ant-btn-default {
  background: #6b7280;
  color: #fff;
}
.filter-modal .ant-modal-footer .ant-btn {
  min-width: 110px;
}
.filter-modal .filter-list {
  column-count: 2;
  display: inline-block;
  margin: 0 auto;
  column-gap: 100px;
}

.filter-modal .filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 24px;
}
.filter-modal .ant-switch {
  height: 17px;
  line-height: 17px;
  border-radius: 39px;
}
.filter-modal .ant-switch-handle {
  height: 17px;
  line-height: 17px;
  top: 0;
  left: 0;
}
.filter-modal .ant-switch-checked .ant-switch-handle {
  left: calc(100% - 17px - 0px);
}
.filter-modal .ant-switch-checked .ant-switch-handle::before {
  background: #d9dde7;
}
.filter-modal .ant-switch-handle::before {
  background: #1f1f43;
}

/* .filter-modal .custom-pie-chart {
  width: 650px;
  height: 100%;
  margin: 0 auto;
}

.filter-modal .custom-pie-chart canvas {
  width: 100% !important;
  height: 100% !important;
} */

.pie-modal {
  position: center;
  padding-right: 200px;
}

.pie-modal .ant-modal,
.pie-modal .ant-modal-title {
  color: #182233;
}

.pie-modal .ant-modal-content {
  width: 800px;
  background: var(--bg-color);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  padding: 38px;
}
.pie-modal .ant-modal-header {
  border: none;
  background-color: var(--bg-color);
}
.pie-modal .ant-modal-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: var(--text-color);
  text-align: center;
}
.pie-modal .ant-modal-body {
  text-align: center;
  padding: 0 0 42px;
}
.pie-modal .ant-modal-footer {
  border: none;
  text-align: center;
  padding: 0;
}

.pie-modal .ant-btn {
  background: #1c39bb !important;
  color: white;
  font-size: 16px;
  font-weight: semi-bold;
  margin: 10px;
}

.ant-breadcrumb a,
.ant-breadcrumb .current,
.ant-breadcrumb-link,
.ant-breadcrumb-separator {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: var(--text-color);
}

.ant-breadcrumb .current {
  color: #1c39bb;
}

.layout-content-wrapper {
  margin: 0 70px;
}

.feedback-modal .ant-modal-content {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.feedback-modal .anticon {
  color: #76ca66 !important;
}
.feedback-modal .ant-modal-confirm-body .ant-modal-confirm-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #7e7e7e;
}
.feedback-modal .ant-modal-body {
  padding: 36px 30px;
}
.feedback-modal .ant-modal-confirm-body .ant-modal-confirm-content strong {
  font-weight: 600;
}
.feedback-modal.ant-modal-confirm .ant-modal-confirm-btns {
  margin: 18px auto 0;
  text-align: center;
  float: none;
}
.feedback-modal .ant-btn-primary:focus {
  background: #1c39bb;
  border-color: #1c39bb;
}

.ant-modal-mask {
  background: #333333 !important;
  opacity: 0.6 !important;
}

.ant-popover-inner {
  border-radius: 6px;
  text-align: center;
  background-color: var(--bg-color);
}

.ant-popover-inner .ant-popover-title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: var(--text-color) !important;
  padding: 8px 16px;
  border-bottom: 0.2px solid #9ca3af;
}
.ant-popover-inner .ant-popover-inner-content {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: var(--text-color) !important;
}

.nodeaddress {
  display: inline-block;
  width: 85px;
}

.item-to-show {
  padding: 20px 0;
}

.item-to-show .ant-select-selector {
  border-radius: 6px !important;
}

.item-to-show > span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: var(--text-color);
  margin-right: 20px;
}

.sort-icon.up {
  transform: rotate(180deg);
}

.my-custom-popover .ant-popover-inner {
  width: 1000px;
}

.icon-wrapper {
  width: 13px;
  height: 13px;
  padding-top: 5px;
  margin-right: 10px;
}

.custom-scatter-chart .chartjs-render-monitor {
  width: 968px !important;
  height: 484px !important;
  display: block;
}

.custom-line-chart .chartjs-render-monitor {
  width: 968px !important;
  height: 484px !important;
  display: block;
}

.dollar-popover {
  font-size: 18px;
  width: 200px;
  text-align: center;
  color: var(--text-color);
}

.dollar-popover p {
  font-size: 12px;
  text-align: center;
  color: var(--text-color);
}

.dollar-popover .ant-popover-inner-content {
  display: block;
  margin: auto;
  color: var(--text-color);
}

.ant-input-affix-wrapper {
  background-color: var(--bg-color) !important;
}

.search-input {
  background-color: var(--bg-color) !important;
}

.ant-input {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
}

button.ant-btn.ant-btn-secondary.button-filter {
  background: var(--bg-color) !important;
  border-color: var(--bg-color) !important;
}

.icon-wrapper svg,
.icon-wrapper a svg {
  color: var(--icon-color);
}

[data-theme="dark"] .icon-wrapper svg,
[data-theme="dark"] .icon-wrapper a svg {
  color: var(--icon-color);
}

.report-card {
  margin-bottom: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-color: var(--border-color);
  background: linear-gradient(
    269.82deg,
    var(--bg-color) -20.26%,
    var(--bg-color) 99.82%
  );
  opacity: 0.9;
}

.report-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
}

.report-card-item {
  flex: 0 0 12%;
  margin-bottom: 32px;
}

.report {
  margin-top: 64px;
  margin-bottom: 32px;
}

.custom-select .ant-select-selector {
  border-color: lightslategray !important;
}

.custom-select .ant-select-selection-placeholder {
  color: lightslategray !important;
  font-weight: 500;
}

.custom-select .ant-select-selection-item {
  color: #333 !important;
}

.report-title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat";
  color: var(--text-color) !important;
}

.report-subtitle {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  color: var(--text-color) !important;
}

.report-card .ant-card-head-title {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color) !important;
}

.report-card p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color) !important;
}

.table-report {
  max-width: 1880px;
  min-width: 1000px;
  border-radius: 10px;
  background-color: var(--text-color) !important;
  box-shadow: var(--drop-shadow-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-report .ant-table-thead > tr > th {
  background-color: var(--table-header-color) !important;
  color: var(--text-color) !important;
  font-weight: bold;
}

.table-report .ant-table-tbody > tr > td {
  background-color: var(--table-report-body-bg) !important;
  color: var(--text-color) !important;
  font-weight: 500;
}

.table-report .ant-pagination-item,
.table-report .ant-pagination-item-link {
  border-color: var(--border-color) !important;
}

.table-report .ant-pagination-item-active {
  background-color: var(--background-color) !important;
  border-color: var(--link-color) !important;
}

.table-report .ant-pagination {
  margin-right: 30px !important;
  background-color: var(--table-body-bg) !important;
}

.ant-table-wrapper {
  background-color: var(--table-report-body-bg) !important;
}

.table-report .ant-table-tbody > tr:hover > td {
  background-color: #1c39bb !important;
  opacity: 1;
}

.table-report .ant-pagination-item,
.table-report .ant-pagination-prev,
.table-report .ant-pagination-next,
.table-report .ant-pagination-jump-prev,
.table-report .ant-pagination-jump-next {
  border: 1.5px solid #1c39bb;
  font-weight: 500;
}

tr:hover > td {
  background-color: #1c39bb !important;
  opacity: 1;
}

.ant-switch-inner {
  background-color: red;
}

/* Default background color when the switch is not checked */
.custom-switch[aria-checked="false"] {
  background-color: #4d4d4d;
}

/* Background color when the switch is checked */
.custom-switch[aria-checked="true"] {
  background-color: #1c39bb;
}
